@use '@styles/colors.scss' as colors;
@use '@styles/fonts.scss' as fonts;
@use '@styles/breakpoints.scss' as breakpoints;

.footer {
  width: 100%;
  color: colors.$text-dark;
  display: none;
  border-top: 2px solid colors.$text-dark;

  @include breakpoints.tablet {
    display: block;
  }

  .menu {
    display: flex;
    padding: 12px 0;
  }

  .item {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include breakpoints.mobile {
      @include fonts.mulish-10;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }

  .active {
    color: colors.$red;
  }
}
