@use '@styles/breakpoints.scss' as breakpoints;

.layout {
  padding: 30px 30px 40px 30px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  @include breakpoints.big-tablet {
    padding: 20px 30px 90px;
  }

  @include breakpoints.mobile {
    padding: 0 0 90px;
  }
}
