.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: styles.$input-dark;
  border-radius: 22px;
  overflow: hidden;
  width: 830px;
}

.searchInput {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchButton {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.searchButton:hover {
  background-color: #f0f0f0;
}
