@use '@styles/breakpoints.scss' as breakpoints;

.layout {
  padding: 50px 0 40px 30px;
  display: flex;
  width: 100%;
  overflow: hidden;

  @include breakpoints.tablet {
    padding: 0px 30px 90px;
  }

  @include breakpoints.mobile {
    padding: 0 16px 90px 16px;
  }
}
