@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

@mixin mulish {
  font-family: 'Mulish', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin mulish-16 {
  @include mulish;
  font-size: 16px;
}

@mixin mulish-16-bold {
  @include mulish;
  font-size: 16px;
  font-weight: 700;
}

@mixin mulish-12 {
  @include mulish;
  font-size: 12px;
}

@mixin mulish-18-bold {
  @include mulish;
  font-size: 18px;
  font-weight: 700;
}

@mixin mulish-10 {
  @include mulish;
  font-size: 10px;
}

@mixin mulish-26-bold {
  @include mulish;
  font-size: 26px;
  font-weight: 700;
}

@mixin mulish-14 {
  @include mulish;
  font-size: 14px;
}

@mixin mulish-13 {
  @include mulish;
  font-size: 13px;
}
