@use '@styles/colors.scss' as colors;
@use '@styles/fonts.scss' as fonts;
@use '@styles/breakpoints.scss' as breakpoints;

.videoCard {
  display: flex;
  flex-direction: column;
  color: colors.$white;
  width: 100%;

  .thumbnail {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }

    .duration {
      position: absolute;
      bottom: 12px;
      right: 10px;
      background-color: colors.$duration-mark;
      color: colors.$white;
      padding: 2px 9px;
      line-height: 1.5;
      border-radius: 12px;
      @include fonts.mulish-14;
    }
  }

  .sm {
    width: 250px;
    height: 150px;

    @include breakpoints.tablet {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .md {
    width: 367px;
    height: 213px;

    @include breakpoints.laptop {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .lg {
    width: 540px;
    height: 250px;
  }

  .details {
    padding-top: 10px;

    @include breakpoints.mobile {
      padding-top: 5px;
    }

    .title {
      margin: 0;
      @include fonts.mulish-16-bold;
    }

    .info {
      @include fonts.mulish-13;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: colors.$text-dark;
      margin: 4px 0;

      .author {
        margin-left: 5px;
      }
    }
  }

  .detailsAlt {
    display: flex;
    flex-direction: column;

    @include breakpoints.mobile {
      padding-top: 5px;
    }

    .title {
      margin-top: 13px;
      @include fonts.mulish-26-bold;
    }

    .info {
      margin-top: 11px;
      @include fonts.mulish-18;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: colors.$text-dark;

      .author {
        margin-left: 5px;
      }
    }
  }
}
